@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:AmericanTypewriter;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	width:100%;
	height:100%;
	background-color:#FFF;
}

/* Webfont: AmericanTypewriter-Condensed */@font-face {
	font-family: 'AmericanTypewriter';
	src: url('/the-wedding/fonts/AmericanTypewriter-Condensed.eot'); /* IE9 Compat Modes */
	src: url('/the-wedding/fonts/AmericanTypewriter-Condensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/the-wedding/fonts/AmericanTypewriter-Condensed.woff') format('woff'), /* Modern Browsers */
		url('/the-wedding/fonts/AmericanTypewriter-Condensed.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/the-wedding/fonts/AmericanTypewriter-Condensed.svg#AmericanTypewriter-Condensed') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	width:100%;
	height:100%;
	overflow:hidden;
}



p {
	font-size:16px;
	line-height:18px;
	margin:8px;
	color:#474747;
}

h1 {
	font-size:20px;
}

h2 {
	font-size:16px;
}

a:link {
	text-decoration:none;
	color: #666;
}
a:visited {
	text-decoration:none;
	color: #666;
}
a:hover {
	text-decoration:none;
	color: #000;
}
a:active {
	text-decoration:none;
	color: #000;
}

#parent{
	width:100%;
	height:100%;
	font-family:AmericanTypewriter;
	
}

#main {
	width:100%;
	height:75%;
	margin:0 auto;
	margin-top:3%;
	overflow-y:scroll;
	
}

#main-a {
	width:100%;
	height:75%;
	margin:0 auto;
	margin-top:3%;
	overflow-y:scroll;
	overflow-x:hidden;
}



.home{
	width:600px;
	margin:0 auto;
	margin-top:0px;
}

.scroller{
	width:1250px;
	margin:0 auto;
	margin-top:20px;
	overflow-x:hidden;
}

.menu-graphic-box {
	width:100%;
	height:46px;
	margin-top:25px;
	background-color:#FFF;
}

.menu-graphic{
	position:static;
	margin:0 auto;
	width:600px;
	height:46px;
}

.menu-box {
	width:100%;
	height:50px;
	background-color:#FFF;
}

.menu {
	display: flex;
	height:50px;
	justify-content: center;
	margin:0 auto;
	position:static;
	width:560px;
}

.menu-item {
	height:50px;
	margin-left:9px;
	margin-right:9px;
	padding:0px;
	display:inline-block;
	font-size:16px;
}


.article {
	width:600px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:35px;
	text-align:center;
	font-size:16px;
	
}

.contact-title {
	width:600px;
	margin:0 auto;
	height:25px;
	text-align:center;
	font-size:16px;
	
}

.contact-wrapper {
	width:350px;
	margin:0 auto;
	height:50px;
	text-align:center;
	font-size:16px;
	
}

.contact-column-left {
	width:200px;
	text-align:left;
	font-size:16px;
	float:left;
	
}
.contact-column-right {
	width:150px;
	text-align:right;
	font-size:16px;
	float:left;
	
}

#download{
	margin:0 auto;
	width:250px;
	height:35px;
	margin-bottom:30px;
	line-height:35px;
	text-align:center;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #666;
}

.article-b {
	width:600px;
	margin:0 auto;
	-webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
	margin-bottom:50px;
	margin-top:20px;
}

.pijltje {
	position:absolute;
	width:120px;
	height:120px;
	right:50px;
	top:50%;
}

.pijltje-a {
	position:absolute;
	width:120px;
	height:120px;
	right:10px;
	top:50%;
}

#countdown_dashboard {
	height: 100px;
	width: 320px;
	margin: 0 auto;
	margin-top:5px;
}

.dash {
	width: 60px;
	height: 51px;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 30px;
	font-weight: bold;
	line-height:51px;
	float: left;
	width: 30px;
	text-align: center;
	font-family:AmericanTypewriter;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: -20px;
	width:60px;
	text-align:center;
	font-size: 7pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}
